{% extends "admin/base.html" %}
{% block title %}authorsCircle | Admin Dashboard - Authors List{% endblock title %}
{% block content %}
<div class="card card-body">
<div class="d-flex justify-content-end mb-4">
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#add_new_author_modal"><i class="fas fa-list-ol"></i> Add New author</button>
</div>
<table id="authors_list" class="table table-bordered table-striped table-sm dt-responsive nowrap text-center w-100">
<thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Remove</th>
    </tr>
</thead>
<tbody>
{% for author in authors %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ author.name }}</td>
        <td>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#author_edit_{{ author.id }}" title="Edit This Author"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#author_rm_{{ author.id }}" title="Remove This Author"><i class="fas fa-trash-alt"></i></button>
            <div class="modal fade" id="author_edit_{{ author.id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <form action="/admin/authors_edit" method="POST">
                      <div class="modal-body">
                        <div class="input-group">
                          <input type="text" class="form-control" name="name" placeholder="Name" value="{{ author.name }}">
                        </div>
                      </div>
                      <input type="hidden" name="id" value="{{ author.id }}">
                      <div class="modal-footer d-flex justify-content-between py-1">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="modal fade" id="author_rm_{{ author.id }}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                  <div class="modal-content">
                    <form action="/admin/authors_delete" method="POST">
                      <div class="modal-body">
                        <h5 class="text-danger text-center"><i class="fas fa-trash-alt"></i> Are you sure?</h5>
                        <input type="hidden" name="id" value="{{ author.id }}">
                      </div>
                      <div class="modal-footer d-flex justify-content-between py-1">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-danger btn-sm">Yes, Confirm</button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="modal fade" id="add_new_author_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fas fa-list-ol"></i> Add New author</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/authors_add" method="POST">
          <div class="modal-body">
            <div class="input-group">
              <input type="text" class="form-control" name="name" placeholder="Name" required>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-between py-1">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
$("#authors_list").DataTable({
    "lengthMenu": [[25, 50, 100, 170, -1], [25, 50, 100, 170, "All"]],
    "pageLength": 25
});
</script>
{% endblock script %}